@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

/* PALETA COLORES 
    BLANCO #fffcf0
    VERDE PRINCIPAL #22c55e
    VERDE CLARO #c2fbd7
    VERDE A PROBAR #3cd815 #33c379
*/

:root {
  --header-height: 1.5rem;
}

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  background: url(/assets/img/fondo.png) no-repeat center fixed;
  height: 100dvh;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #33c379;
  z-index: 1000;
}

.nav {
  height: 3.5rem;
  align-items: center;
  text-align: center;
  color: #fffcf0;
  font-weight: bold;
}

.nav-logo .logo img {
  height: 28px;
  padding-inline-end: 0.5rem;
}

.nav-logo .logo,
.nav-open,
.nav-close {
  color: #fffcf0;
}

.nav-logo {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-logo .logo-nombre {
  font-weight: bold;
}

.logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.2rem;
}

.logo i {
  font-size: 1.25rem;
  font-weight: initial;
}

.nav-lista a {
  color: #fffcf0;
}

.nav-link {
  align-items: center;
}

.nav-barra {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-open,
.nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav-close {
  opacity: 0;
}

/* HEADER RESPONSIVE */

@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav-menu::-webkit-scrollbar {
    width: 0;
  }

  .nav-lista {
    background-color: #33c379;
  }

  .nav-link {
    color: #fffcf0;
    background-color: #33c379;
    padding: 1.25rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #000000;
  }
}

/* MOSTRAR MENU */

.mostrar-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* MOSTRAR ICONO */

.mostrar-icono .nav-open {
  opacity: 0;
  transform: rotate(90deg);
}

.mostrar-icono .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*  DROP NAV */

.nav-drop {
  cursor: pointer;
}

.flecha-drop {
  font-size: 1rem;
  transition: transform 0.4s;
}

.drop-link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #fffcf0;
  background-color: #33c379;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.3s;
}

.drop-link i {
  font-size: 1.25rem;
}

.drop-link:hover {
  color: #000000;
}

.drop-lista {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* MOSTRAR DROP NAV */

.nav-drop:hover .drop-lista {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.nav-drop:hover .flecha-drop {
  transform: rotate(180deg);
}

/* NAV */

/* NAV DISPOSITIVOS PEQUEÑOS*/

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-link {
    padding-inline: 1rem;
  }
}

/* NAV DISPOSITIVOS LARGOS */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-barra {
    display: none;
  }

  .nav-lista {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav-link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.2rem;
  }

  .nav-link:hover {
    color: #000000;
  }

  .nav-drop {
    position: relative;
  }

  .drop-lista {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 2.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s, top 1s;
  }

  .drop-link {
    padding-inline: 1rem 2rem;
    width: 200px;
  }

  .drop-link i {
    padding-right: 3px;
  }

  .nav-drop:hover .drop-lista {
    opacity: 1;
    top: 18px;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

/* LOGIN HEADER */

/* MAIN */

/* CONTAINER */

/* FOOTER */

footer {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.top-footer {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  background-color: #33c379;
  justify-content: space-evenly;
}

.top-footer .titulo {
  color: #000000;
  font-weight: bold;
}
.top-footer li {
  padding: 3px;
  list-style: none;
}

.top-footer li a {
  color: #fffcf0;
  text-decoration: none;
}

.nav-footer li:hover a {
  color: #000000;
}

.rrss {
  list-style: none;
}

.rrss li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.rrss i {
  width: 50px;
}

.rrss a:hover {
  color: #000000;
}

.end-footer {
  list-style: none;
  padding: 8px;
  color: #fffcf0;
  background-color: #000000;
  text-align: center;
  font-size: 13px;
  position: relative;
  margin: 2px;
}

.end-footer::after,
.end-footer::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #22c55e,
    #c2fbd7,
    #33c379,
    #2edb6e,
    #22c55e
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 3px;
  animation: spin 3s linear infinite;
}

.end-footer::before {
  filter: blur(10.5rem);
  opacity: 0.5;
}

.end-footer p {
  padding: 2px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
